*{/* esto se llama normalizacion, es para eliminar las configuraciones por defecto. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 246, 241);/* aca le damos un color de fondo a todo el body */
}
input{
    margin-top: 50px;
    margin-left: 50px;
    padding: 5px 18px;
    border: none;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);


}

.caja{ /*  aca le damos estilos a la caja */
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 3px solid red; /* ACA le damso un estilko al borde */
    box-sizing: border-box; /* esto me ayuda a calcular los bordes */
    padding-left: 50px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 32px -39px 7px 0px rgba(91,199,140,0.88); /* nos permite definir una sombra para la caja, el primer valor es la posicion de la sobra en ek eje x, la segunda es la posicion en el eje Y, el tercer valor es el difuminado, el cuarto valor es la base, el quinto valor es el color. */ /* si coloco inset la sombra se hace hacia adenttro */
    /* podemos usar box shadow generator, lo tengo en favoritos */

}